*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.error {
    border: 2px solid #FF6565;
  }
  .addcenter{
    width: 630px;
  
  }
  .nav-link{
    color: white;
  }
  svg{
    color: white;
  }
  Nav{
    box-shadow: 0px 0px 8px black;
    opacity: 0.9
  }
  span{
    color: white;
    font-size: large;
  }
  .btn{
    width: 100%;
    box-shadow: 0px 2px 7px black;
    opacity: 0.9
  }